memoryKB/php/vendor/
memoryKB/chat_companion_demo/vendor/

memoryKB/php/logs/
composer.lock
composer.phar
eino_go_example/vikingDB_example/.env
RAG_kb/test.ipynb
eino_go_example/ragKB_example/.env
eino_go_example/vectorDB_example/.env
eino_go_example/ragKB_example/rag-backend
